services:
  go-healthcheck:
    build: .
    ports:
      - 3000:3000
    volumes:
      - ./config.yaml:/app/config.yaml
  db:
    image: postgres:18@sha256:28bda6d50590658221007b10573830c941b483e9d1a5bc2713a3f60477df8389
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
  redis:
    image: redis:7.2.4@sha256:5a93f6b2e391b78e8bd3f9e7e1e1e06aeb5295043b4703fb88392835cec924a0
    command: /bin/sh -c "redis-server --requirepass redis"
