services:
  go-healthcheck:
    build: .
    ports:
      - 3000:3000
    volumes:
      - ./config.yaml:/app/config.yaml
  db:
    image: postgres:18@sha256:8ce6e01f36d23849cf5a92275a94baec9ce28f32a47cd729375afb63ca6f985d
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
  redis:
    image: redis:7.2.4@sha256:5a93f6b2e391b78e8bd3f9e7e1e1e06aeb5295043b4703fb88392835cec924a0
    command: /bin/sh -c "redis-server --requirepass redis"
